{% extends 'reference.html' %}

{% block content %}

<div class="gray_sec">
    <div class="container">
        <div style="font-size:4rem;">
            <i class="fas fa-graduation-cap"></i>
        </div>
        <div class="big_title">관리자 페이지_학과 졸업요건 등록</div>
    </div>
</div>

<!-- 입력란 -->
<div class="white_sec">
    <div class="container">
        <form action="/f_register/" method="post" name='regi_form' onsubmit="return check_up()">
            {% csrf_token %}
            <div class="regi_box" style="width:400px">

                <label>학과</label>
                <input type="text" name="major">

                <label>년도</label>
                <input type="number" name="year">

                <label>총학점</label>
                <input type="number" name="total">

                <label>전공학점</label>
                <input type="number" name="major_credit">

                <label>복수전공 학점</label>
                <input type="number" name="s_credit">

                <label>전공필수 학점</label>
                <input type="number" name="major_essential">

                <label>전공선택 학점</label>
                <input type="number" name="major_selection">

                <label>전공선택 중 필수 이수 과목</label>
                <input type="text" name="major_selection_list">

                <label>대학탐구 학점</label>
                <input type="number" name="explore">

                <label>자아성찰 학점</label>
                <input type="number" name="self">

                <label>21c 시민, 미래위험사회와안전, 지역연구 학점</label>
                <input type="number" name="civ">

                <label>글쓰기 학점</label>
                <input type="number" name="writing">

                <label>명작(세미나) 학점</label>
                <input type="number" name="seminar">

                <label>리더십 학점</label>
                <input type="number" name="leader">

                <label>EAS1,2 학점</label>
                <input type="number" name="eas">

                <label>소프트웨어 학점</label>
                <input type="number" name="sw">

                <label>학문기초 총 학점(외국어 선택 시)</label>
                <input type="number" name="basic_eng">

                <label>학문기초 총 학점(자연과학 선택 시)</label>
                <input type="number" name="basic">

                <label>학문 기초 교과목 m 목록</label>
                <input type="text" name="basic_list_m">

                <label>학문 기초 교과목 s 목록</label>
                <input type="text" name="basic_list_s">

                <label>학문 기초 교과목 c 목록</label>
                <input type="text" name="basic_list_c">

                <label>전공 원어강의 학점</label>
                <input type="number" name="eng_major">
            </div>
            <input type='submit' class='regi_btn' value='졸업요건 등록하기'>
        </form>
    </div>
</div>
    
{% endblock %}


{% block js_section %}

<script>
    // 영어성적 입력 띄우기
    function pop_score(){
        var eng_box = document.getElementById('eng');
        var eng_ind = document.getElementById("eng").options.selectedIndex;
        if(eng_box.options[eng_ind].value !== "해당없음" && eng_box.options[eng_ind].value !== "초과학기면제")
        {
                document.getElementById('eng_score').style.display = "block"; 
        }
        else{
            document.getElementById('eng_score').style.display = "none";
        }
    }

    // 가입하기 버튼 눌렀을 때 검사하기
    function check_up(){
        // 1. 학부생일경우 학과 선택했는지 확인
        if(document.getElementById('major_select'))
        {
            var sel_box = document.getElementById('major_select');
            var sel_ind = document.getElementById('major_select').options.selectedIndex;
            if(sel_box.options[sel_ind].value === 'x'){
                alert('🤔 전공을 선택해주세요.') ;
                regi_form.major_select.focus();
                return false;
            }
        }
        // 2. 영어인증 선택시 점수 입력확인
        var eng_box = document.getElementById('eng');
        var eng_ind = document.getElementById("eng").options.selectedIndex;
        if(eng_box.options[eng_ind].value !== "해당없음" && eng_box.options[eng_ind].value !== "초과학기면제" && eng_box.options[eng_ind].value !== "OPIc"){
            if (!document.getElementById('eng_score').value || document.getElementById('eng_score').value == 0) {
                alert('🤔 영어 점수를 입력해주세요.') ;
                regi_form.eng_score.focus();
                return false;
            }
        }
        // 3. 비밀번호 입력 확인
        if(!document.getElementById('pw1').value){
            alert('🤔 비밀번호를 입력해주세요.') ;
            regi_form.pw1.focus();
            return false;
        }
        // 4. 비밀번호 일치 확인
        if(document.getElementById('pw1').value !== document.getElementById('pw2').value){
            alert('🤔 비밀번호가 일치하지 않습니다.') ;
            regi_form.pw1.focus();
            return false;
        }
        return true;
    }

    // 세부전공 있을 경우 학과 placeholder 변경
    const sub_major = "{{request.session.temp_user_info.sub_major}}";
    if(sub_major){
        document.getElementsByName("major")[0].placeholder += " (" + sub_major + ")";
    }

    
</script>

{% endblock %}