<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <!--
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    -->
    <meta name="viewport" content="width=1280">

    <!-- static 폴더 참조 -->
    <!-- 원그래프 js는 각 페이지에서 소환해야됨 (일회성 호출이라서.) -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}?date=230907">
    <!-- favicon -->
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <!-- 웹 참조-->
    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/e8a335040d.js" crossorigin="anonymous"></script>

    <!-- 웹 폰트 참조-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-219523848-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-219523848-1');
    </script>

    <title>Graduate is Good</title>
</head>

<body>
    <!-- 로고 / 메뉴바-->
    <nav class="navbar">
        <div class="navbar_logo">
            {% load static %}
            <a href="/"><img src="{% static 'img/logo.png' %}"></a>
        </div>

        <ul class="navbar_menu">

            <!-- <div class="navbar_logo">
                {% load static %}
                <a href="/"><img src="{% static 'img/logo.png' %}"></a>
            </div> -->

            <!-- <li>
                <a href='https://hanjo.notion.site/438e8f9a47c24cc4b268c8b8fb6349a1' target="_blank">Q&A</a>
            </li> -->

            <li>
                <a href='https://forms.gle/Sfx54ect6fpFa3tx5' target="_blank">피드백하기</a>
            </li>

            <li>
                <a href='/statistics/'>꿀전공찾기</a>
            </li>
            <li>
                <a href='/statistics_ge/'>꿀교양찾기</a>
            </li>

            {% if request.session.id %}
            <li>
                <a href='/mypage/'>마이페이지</a>
            </li>
            {% endif %}

            
                <!-- 로그인 세션 활용 -->
                {% if not request.session.id %}
                <li>
                <a href='/login/'>로그인</a>
                </li>
                <li>
                <a href='/login_admin/'>관리자 로그인</a>
                </li>
                {% else %}
                <li>
                <a href='javascript:logout()'>로그아웃</a>
                </li>
                {% endif %}
            
        </ul>
    </nav>


    {% block content %}
    {% endblock %}


    <!--footer-->
    <footer class="footer">
        <ul class="footer_list">
            <li>
                - Contact -
            </li>
            <li>
                Email : minizang99@dgu.ac.kr
            </li>
            <li>
                GitHub : <a href='https://github.com/CSID-DGU/2023-2-OSSProj-OSORI-1' style='color:lightgrey'
                    target='_blank'>https://github.com/CSID-DGU/2023-2-OSSProj-OSORI-1</a>
            </li>
        </ul>
        <h2 class="copyright">Copyright
            <i class="far fa-copyright"></i>
            2023 OSORI<br>
            장민, 최효은, 김미소
        </h2>
    </footer>



    {% if request.session.id %}
    <!-- 주의사항 버튼 -->
    <div class="info_btn" onclick='pop_info_modal()'>
        <i class="fas fa-question"></i>
    </div>

    <!-- 주의사항 모달 -->
    <div id="info_modal" class="modal">
        <div class="modal-content" style='width:80%'>
            <span class="close" onclick='close_info_modal()'>&times;</span>
            <div class="container" style='padding:0 1rem 0 1rem; '>

                <!-- 과목 관련 -->
                <div class="info_title">도움말</div>
                <div class="info_box">
                    <div class="info_content">
                        <p style="margin-left:1rem; font-size:0.85rem;">
                            - 학기가 끝난 후, 학사정보시스템에서 기이수성적표가 완성되면 마이페이지에서 엑셀을 새로 업로드하시길 바랍니다.
                        </p>
                    </div>
                </div>

                <!-- 검사관련 박스 -->
                <div class="info_title">검사 관련</div>
                <div class="info_box">
                    <div class="info_content">
                        <p>
                            1. 현재 검사 가능한 학과-학번은 융합소프트웨어학과, 통계학과, 행정학과, 산업시스템공학과 21학번입니다. 검사대상에 속하지 않다면 회원가입이 불가능합니다. 꼭 검사대상인지
                                확인하세요!</span>
                        </p>
                        <p>2. 추천 과목 정보는 2023-2학기 정보로, 최신 기준으로 제공됩니다.</p>
                        <p>3. 검사 기준은 최신버전 수강편람(2023.07.19)을 반영하여 설정되었으며, 수강편람은 매년 개편되므로 자신이 알고 있는 구버전 수강편람과 다를 수 있습니다.</p>
                        <p style="margin-left:1rem; font-size:0.85rem;">- 동국대학교 교과과정 참고 링크 : &nbsp;&nbsp;
                            <a class="link_site" target="_blank"
                                href="https://www.dongguk.edu/article/HAKSANOTICE/detail/26751370">
                                수강편람</a>
                        </p>
                        <p>4. 동국대학교에서 공식적으로 만든 사이트가 아니므로 <span class="caution_info">검사 결과가 정확하지 않을 수 있습니다.</span> (반드시 수강편람을 통한 졸업요건 2차 검증을 해야합니다.)</p>
                        <p>5. 졸업요건 기준이 잘못 설정되었거나, 오류발생 시 상단 메뉴바링크로 피드백 부탁드립니다.</p>
                    </div>
                </div>

                <!-- 안내사항 박스 -->
                <div class="info_title">안내 사항</div>
                <div class="info_box">
                    <div class="info_content">
                        <p>1. 검사를 위해선 기이수성적 엑셀파일을 직접 업로드해야하므로 <span class="caution_info">PC환경</span>에서 진행하는 것을 권장합니다.</p>
                        <p>2. 사용자가 업로드하는 기이수성적 엑셀파일은 <span class="caution_info">저장되지 않고,</span> 평점을 제외한 과목정보만이 데이터베이스로 변환하여 저장됩니다.</p>
                        <p>3. 업로드 시 성적 중 평점이 <span class="caution_info">F, NP인 과목은 인정되지 않고 자동 삭제됩니다.</span></p>
                        <p>4. 저장된 사용자 데이터베이스는 다른 용도로 사용되지 않습니다.</p>
                    </div>
                </div>
            </div>
            <div style="text-align: center;">
                <button onclick="close_info_modal()" class="suc_btn" style="letter-spacing: 5px;">닫기</button>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- 업데이트 성공 모달 -->
    {% if messages %}
    {% for m in messages %}
    {% if m.tags == 'success' %}
    <div id='u_m' class="modal" style="display: block;">
        <div class="update_modal_content" style="width:40%">
            <div style="color:rgb(124,199,106); font-size:7rem; margin:1rem 0 1rem 0">
                <i class="fas fa-check"></i>
            </div>
            <p style="font-size:2rem; font-weight: bold;">성공적으로 업데이트 되었습니다!</p>
            <button id="u_c" class='login_btn' style="margin:2rem 0 2rem 0;">확인</button>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}

    <!-- 사용금지 모달
    <div id='myModal_stop' class="modal" style ="display: block;">
        <div class="modal-content">
            <div class="modal_div">
                <div style="font-size:2.5rem; font-weight:bold; color : #d32f2f">
                    ※ 사이트 점검 중입니다. ※
                </div>
                <div style="font-size:1.3rem; margin-top:3rem;">
                    <p style="font-size:2rem; font-weight:bold;">~ 01:00 까지 점검 예정입니다.</p>
                </div>
            </div>
        </div>
    </div>-->
</body>


{% block js_section %}
{% endblock %}

<!-- 예외처리 -->
{% if messages %}
{% for m in messages %}
<!-- 로그인 오류 / 기타오류 발생시 -->
{% if m.tags == 'error' %}
<script>
    alert('{{ m }}');
</script>
{% endif %}
{% endfor %}
{% endif %}

{% load static %}
<script src="{% static 'js/modal.js' %}"></script>

<script>
    function logout() {
        var back_head = confirm('✋ 정말 로그아웃 하시겠습니까? ✋');
        if (back_head) {
            location.href = '/f_logout/';
        }
    };

    // 업데이트 모달
    var u_m = document.getElementById('u_m');
    var u_c = document.getElementById("u_c");
    Spanclick(u_c, u_m);

    // 주의사항 모달
    function pop_info_modal() {
        document.getElementById('info_modal').style.display = "block";

    }
    function close_info_modal() {
        document.getElementById("info_modal").style.display = "none";
    }

</script>


</html>
