{% extends 'reference.html' %}

{% block content %}

<!-- 처음 타이틀 -->
<div class="gray_sec">
    <div class="container">
        <div style="font-size:4rem;">
            <i class="fas fa-graduation-cap"></i>
        </div>
        <div class="big_title">꿀전공 찾기</div>
        <div class="small_title">사용자 통계를 통해 꿀전공을 찾아보자!</div>
    </div>
</div>

<div class="white_sec">

    <!-- 설명 박스 -->
    <div class="statistics_user_box" style='margin-top: 4rem;'>
        <div class='statistics_user_sub'>
            필터링을 통해 다른 사용자들이 많이 듣는 전공 강의를 검색해보세요!
        </div>
        <div class="statistics_user_main">
            현재
            <span class='statistics_color_span'>{{ major_num }}</span>개 학과/전공
            <span class='statistics_color_span'>{{ user_num }}</span>사용자 데이터를 참조합니다.
        </div>
    </div>

    <div class="custom_box_wrap">
        <!-- 검색창 박스 -->
        <div>
            <div class="my_box_grade">
                <!-- 필터링 박스 -->
                <div style="padding:2.5rem 2.5rem 0 2.5rem">
                    <!-- 상단 제목 -->
                    <div class='filter_title'>
                        📌 필터링
                    </div>
                    <!-- 구분 박스들 -->
                    <div class="filter_wrap">
                        <form method="post" id='filter_form' name='filter_form'>
                            <!-- 내부 박스 -->
                            <div class='filter_select_wrap'>
                                
                                <!-- 학점 박스 -->
                                <div class='filter_select_div'>
                                    <div class='filter_select_title'>학점</div>
                                    <div class='filter_select_box'>
                                        <div class='filter_select_chk'>
                                            <!--
                                            <label>
                                                <input type="checkbox" name="grade[]" value="0.5" id="grade_half" checked> 
                                                <label for="grade_half"></label>
                                                &nbsp;0.5 학점
                                            </label>
                                                -->
                                            <label>
                                                <input type="checkbox" name="grade[]" value="1" id="grade_1" checked> 
                                                <label for="grade_1"></label>
                                                &nbsp;1 학점
                                            </label>
                                            <br>
                                            <label>
                                                <input type="checkbox" name="grade[]" value="2" id="grade_2" checked> 
                                                <label for="grade_2"></label>
                                                &nbsp;2 학점
                                            </label>
                                            <br>
                                            <label>
                                                <input type="checkbox" name="grade[]" value="3" id="grade_3" checked> 
                                                <label for="grade_3"></label>
                                                &nbsp;3 학점
                                            </label>
                                            
                                        </div>
                                    </div>
                                </div>

                                <!-- 선택영역 박스 -->
                                <div class='filter_select_div'>
                                    <div class='filter_select_title'>선택영역</div>
                                    <div class='filter_select_box' style="width:20rem;">
                                        <div class="filter_select_chk_wrap">
                                            <div id='selection_box' class='filter_select_chk'>
                                                <label>
                                                    <input type="checkbox" name="selection[]" value="통계학과" id="통계학과" checked>
                                                    <label for="통계학과"></label>
                                                    &nbsp;통계학과
                                                </label>
                                                <br>
                                                <label>
                                                    <input type="checkbox" name="selection[]" value="행정학과" id="행정학과" checked>
                                                    <label for="행정학과"></label>
                                                    &nbsp;행정학과
                                                </label>
                                                <br>
                                                <label>
                                                    <input type="checkbox" name="selection[]" value="산업시스템공학과" id="산업시스템공학과" checked>
                                                    <label for="산업시스템공학과"></label>
                                                    &nbsp;산업시스템공학과
                                                </label>
                                                <br> 
                                                <label>
                                                    <input type="checkbox" name="selection[]" value="융합소프트웨어학과" id="융합소프트웨어학과" checked>
                                                    <label for="융합소프트웨어학과"></label>
                                                    &nbsp;융합소프트웨어학과
                                                </label>
                                                <br>                     
                                            </div>

                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- 검색버튼-->
                            <input class='filter_btn' type="button" value="검색하기" onclick="ajax_get_data(); return false">
                        </form>
                    </div>

                    <!-- 결과 박스 -->
                    <div style="margin-top:5rem;">
                        <div class="filter_title">
                            <div style="display: flex; align-items: center;">
                                <input class='filter_btn' type="button" value="장바구니" onclick="ajax_get_cart1(); return false">
                                <div style="margin: 0 auto;">📜 전공 순위</div>
                            </div>
                        </div>
                        <hr>
                        <!-- 여기에 테이블이 채워짐-->
                        <div id='update_div'></div>
                        <br><br>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



{% block js_section %}
<script>

    ajax_get_data();

    function ajax_get_data() {

        var formData = $("#filter_form").serialize();

        let update_div = document.getElementById('update_div');
        html = "<div class='loading_wrap'><div class='circle'></div> 데이터를 불러오는 중입니다...</div>"
        update_div.innerHTML = html;

        $.ajax(
            {
                type: 'POST',
                url: '/a_statistics/',
                // 보내는 데이터
                data: formData,
                // 성공시 받는 데이터
                success: function (context) {
                    let zip_lecture_count = context['zip_lecture_count']

                    html = "<table class='grade_table' style='margin-top:0'>";
                    html += "<tr>";
                    html += "<th class='grade_table_th' style='width:5%'>선택</th>"
                    html += "<th class='grade_table_th' style='width:12%'>학수번호</th>"
                    html += "<th class='grade_table_th' style='width:38%'>과목명</th>"
                    html += "<th class='grade_table_th' style='width:13%'>이수구분</th>"
                    html += "<th class='grade_table_th' style='width:13%'>이수구분영역</th>"
                    html += "<th class='grade_table_th' style='width:12%'>담당교원</th>"
                    html += "<th class='grade_table_th' style='width:8%'>학점</th>"
                    html += "<th class='grade_table_th' style='width:12%; border-right :0px'>담은횟수</th>"
                    html += "</tr>";
                    for (let i = 0; i < zip_lecture_count.length; i++) {
                        lecture_info = zip_lecture_count[i]
                        count = zip_lecture_count[i]
                        html += "<tr>";
                        html += "<td class='grade_table_td'>";
                        html += "<input type='checkbox' name='selectedLectures' value='" + JSON.stringify(lecture_info) + "' class='lectureCheckbox' id='checkbox_" + lecture_info.subject_num + "'>";
                        html += "<label for='checkbox_" + lecture_info.subject_num + "'></label>";
                        html += "</td>";
                        html += "<td class='grade_table_td'>" + lecture_info.subject_num + "</td>";
                        html += "<td class='grade_table_td'>" + lecture_info.subject_name + "</td>";
                        html += "<td class='grade_table_td'>" + lecture_info.classification + "</td>";
                        html += "<td class='grade_table_td'>" + lecture_info.classification_ge + "</td>";
                        html += "<td class='grade_table_td'>" + lecture_info.professor + "</td>";
                        html += "<td class='grade_table_td'>" + lecture_info.subject_credit + "</td>";
                        html += "<td class='grade_table_td' style='border-right :0px;'><span style='font-weight:bold; color:#17a55e;'>" + lecture_info.sum_stu + "</span>회</td>";
                        html += "</tr>";
                    }
                    html += "</table>";


                    update_div.innerHTML = html;
                },
                // 에러시 설정
                error: function (err) { 
                    console.log(err)
                    alert('데이터를 가져오는 데 에러가 발생했습니다!');
                }
            }
        );
    }

    let selectedSubjects = [];

    // 각 체크박스에 대한 이벤트 핸들러 설정
    document.querySelectorAll('input[type="checkbox"][name="ck"]').forEach(function(checkbox) {
        checkbox.addEventListener('change', function() {
            if (this.checked) {
                // 체크된 경우 리스트에 추가
                selectedSubjects.push(this.value);
            } else {
                // 체크가 해제된 경우 리스트에서 제거
                let index = selectedSubjects.indexOf(this.value);
                if (index !== -1) {
                    selectedSubjects.splice(index, 1);
                }
            }
        });
    });

    document.getElementById('selectButton').addEventListener('click', function() {
    console.log("선택된 과목 번호 리스트:", selectedSubjects);
    // 여기서 선택된 정보를 활용하여 다른 작업을 수행할 수 있습니다.
});

</script>

<script>

    ajax_get_cart1();
    
        function ajax_get_cart1(){ 
    
        let selectedLectures1 = [];
        let checkboxes = document.querySelectorAll('.lectureCheckbox:checked');
        
        checkboxes.forEach(function(checkbox) {
            let lectureInfo = JSON.parse(checkbox.value); 
    
            let lectureNum = lectureInfo.subject_num; // 강의 번호
            let lectureName = lectureInfo.subject_name; // 강의 이름
            let lectureclassification = lectureInfo.classification; 
            let lecturecredit = lectureInfo.subject_credit; 
    
            selectedLectures1.push({ subject_num: lectureNum, subject_name: lectureName, classification:lectureclassification, subject_credit:lecturecredit});
        });
    
        localStorage.setItem('selectedLectures1', JSON.stringify(selectedLectures1));
        
        if (selectedLectures1.length > 0) {
            alert('선택된 강의가 장바구니에 추가되었습니다.');
        }
    }
    
</script>
{% endblock %}
